nav {

    height: 50px;
    background-color: linear-gradient(45deg rgb(69, 81, 69),rgb(51, 51, 54));
}

li {
    margin:0;
    padding:0;
    list-style-type: none;
    background-color: linear-gradient(45deg rgb(69,81,69),rgb(51, 51, 54));
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.items{

    margin-right:10px;
    color:white;
    cursor: pointer;
}

.btn{
    display: none;
}
@media screen and(max-width:500px){
    .li{
        
        flex-direction: column;
        height:200px;
    }

    .items:nth-child(1){
        border-top:1px solid#fff;
        margin-top: 50px;
    }
    .items{
        height: 50px;
        width: 100%;
        border-bottom: 1px solid #fff;
        line-height: 50px;
    }

    .btn{
        display: block;
        position: absolute;
        right: 10px;
        top: 10px;
        color:rgb(102, 232, 55);
        cursor:pointer;
    }
    
}